<div>
    <a
        href="/admin/db-task-list/create"
        class="button button-action button--primary button--small">Create</a>
</div>
{% if list is not empty  %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Frequency (each seconds)</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for item in list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.time_frequency }}</td>
                <td><a href="/admin/db-task-list/{{ item.id }}/edit" class="button">Edit</a></td>
                <td><a href="/admin/db-task-list/{{ item.id }}/delete"  class="button">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{{ content }}